<div class="waitBody">
	<div class="message" data-bind="text: message()"></div>
	<div class="message2" data-bind="text: message2()"></div>
	<div class="waitIcon">
		<div class='spinner center'>
            <div class='spinner-blade'></div>
            <div class='spinner-blade'></div>
            <div class='spinner-blade'></div>
            <div class='spinner-blade'></div>
            <div class='spinner-blade'></div>
            <div class='spinner-blade'></div>
            <div class='spinner-blade'></div>
            <div class='spinner-blade'></div>
            <div class='spinner-blade'></div>
            <div class='spinner-blade'></div>
            <div class='spinner-blade'></div>
            <div class='spinner-blade'></div>
        </div>
	</div>
</div>